<% layout('layoutLanding') -%>
<head>
  <link href="../css/landing-page.css" rel="stylesheet">
  <link href="../css/bootstrap-grid.css" rel="stylesheet">
  <link href="../css/bootstrap-reboot.css" rel="stylesheet">
  <link href="../css/_variables.scss" rel="stylesheet">
  <link href="../css/_masthead.scss" rel="stylesheet">
  <link href="../css/_global.scss" rel="stylesheet">
  <link href="../css/_testimonials.scss" rel="stylesheet">
  <link href="../css/_footer.scss" rel="stylesheet">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

</head>
<style media="screen">
.loader.profilePage {
  border: 20px solid black;
  border-radius: 50%;
  border-top: 20px solid #3498db;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.badge {
  font-size: 1.20rem;
}

@media screen and (max-width:1260px) {
  #commentTile {
    height: 98px !important;
    overflow:scroll !important;
  }
}

#landingPage{
  width:1300px;
}

.buttonField{
  padding: 14px;
}

.buttonColor2 {
  background-color: rgba(0, 174, 177, 0.3);
  font-weight: 700;
}


.opacityImage {
  height:100%;
  position: relative;
  overflow: hidden;
}



#content{
  z-index: 999;
  opacity: 1;
  position: absolute;
  top:0px;
  width: 100%;
}

.btn-pref.btn-group button {
  border:none;
}

.htmlFreeze{
  position:fixed;
    overflow:hidden;
}
</style>


<div class="landingPageContent">

  <body style="max-width:1250px !important;">


    <div class="opacityImage" style="">

      <div class="mainHeadingBox">
      <img class="imageDisplay" src="http://res.cloudinary.com/joinin/image/upload/v1512429259/Screen_Shot_2017-12-04_at_3.13.49_PM_saxw7t.png" alt="">
    </div>

    <div class="" id="content2" style="">



  <div class="contentBox" style="padding-top:80px">
    <span style="font-weight:600">
      Do Great Things. Really.
    </span>
  <p class="sloganContent" style="
  margin-top: 35px;">


  Fully Integrated Innovation

  Management Platform in 3D
  <span style="display:block">
  </span>
</p>
<p>
  <div class="col-xs-12" style="margin-top:14px">


<div class="col-xs-6" style="padding:0px">
  <a class="btn btn-default btn-sm landingSignupBtn" id="landingSignup" style="float:right;margin-right:3px"> Login </a>
</div>


<div class="col-xs-6" style="padding:0px">
  <a class="landingLogin123 btn btn-sm buttonColor2" id="" style="float:left;margin-left:3px"> Sign Up</a>

  <!-- <a style="color:inherit !important;cursor:pointer" data-toggle="modal" data-target="#openVideoModal">
    <p class="learnMoreVideo">
      Learn More <i style="cursor:pointer;font-size: 22px;" class="fa fa-play-circle-o" aria-hidden="true" ></i>
    </p>
  </a> -->
</div>




  </div>




  <!-- <button type="button" class="btn btn-info btn-lg hidden" data-toggle="modal" data-target="#openVideoModal" style="display:none;">Open Modal</button> -->

  <!-- Modal -->
  <!-- <div id="openVideoModal" class="modal fade" role="dialog">
    <div class="modal-dialog videoModal">

      <div class="modal-content videoModalContent">

        <div class="modal-body" style="padding:0px;background-color: black;">
          <iframe class="videoModalFrame" src="https://www.youtube.com/embed/BWjOmqBGUVM?rel=0" frameborder="0" allowfullscreen>
          </iframe>
        </div>

      </div>

    </div>
  </div> -->




</p>



</div>

</div>



<div class="" style="">
  <div class="">





    </div>











        <section class="features-icons bg-light text-center">
          <h1 style="margin-bottom: 2.2em;">
          	<!-- Your Innovation Experience in 3D -->
            What We Mean by 3D ?
          </h1>
          <div class="container" >
            <div class="row">
              <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                  <div class="features-icons-icon d-flex">
                    <i class="fa fa-search" style="margin: 0px auto;"></i>
                  </div>
                  <h3>Discover</h3>
                  <p class="lead mb-0" style="line-height: 2.1;
          font-size: 1.8em;">
                a curated community of innovators, peers, mentors and experts
                  </p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                  <div class="features-icons-icon d-flex">
                    <i class="fa fa-wrench" style="margin: 0px auto;"></i>
                  </div>
                  <h3>Develop</h3>
                  <p class="lead mb-0" style="line-height: 2.1;
          font-size: 1.8em;">
          your ideas and solutions on your own and through collaboration with community members
                  </p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                  <div class="features-icons-icon d-flex">
                    <i class="fa fa-bolt" style="margin: 0px auto;"></i>
                  </div>
                  <h3>Disrupt</h3>
                  <p class="lead mb-0" style="line-height: 2.1;
          font-size: 1.8em;">
            the status quo and what you thought was possible
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>

          <!-- <div id="openVideoModal" class="modal fade" role="dialog">
            <div class="modal-dialog videoModal">

              <div class="modal-content videoModalContent">

                <div class="modal-body" style="padding:0px;background-color: black;">
                  <iframe class="videoModalFrame" src="https://www.youtube.com/embed/BWjOmqBGUVM?rel=0" frameborder="0" allowfullscreen>
                  </iframe>
                </div>

              </div>

            </div>
          </div> -->

        <!-- Image Showcases -->
        <section class="showcase" style="padding-top: 0px;padding-bottom:0px;">
          <div class="container-fluid p-0" style="background-color:white;">
            <div class="row no-gutters">

              <div class="col-lg-6 order-lg-2 text-white showcase-img landingPagePics" style="background-image: url('http://res.cloudinary.com/joinin/image/upload/v1512429360/Screen_Shot_2017-12-04_at_3.15.22_PM_igfyji.png');"></div>
              <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>DEDICATED TO INNOVATION</h2>
                <p class="lead mb-0 descText" >
          Most innovators and startups fail. Some try to improve their chances of success by moving to innovation hubs, like Silicon Valley, where they can share and access resources and support. For most, however, a platform DEDICATED TO INNOVATION is the most effective solution.

          <span class = "actionText landingLogin1234" style="pointer-events:all;cursor:pointer">
                    If you need an environment DEDICATED TO INNOVATION, click here to JoinIN
                  </span>
                </p>
              </div>
            </div>
            <div class="row no-gutters">
              <div class="col-lg-6 text-white showcase-img" style="background-image: url('http://res.cloudinary.com/joinin/image/upload/v1512429363/Screen_Shot_2017-12-04_at_3.15.32_PM_fb8pv2.png');"></div>
              <div class="col-lg-6 my-auto showcase-text">
                <h2>SEAMLESSLY INTEGRATED</h2>
                <p class="lead mb-0 descText" >
          Ask an innovator or a startup about their biggest challenge and Time will be at or near the very top of that list. This is the focus of a 3D platform with SEAMLESSLY INTEGRATED
          capabilities designed to meet individual, intra, and inter-team needs.
          <span class = "actionText landingLogin1234" style="pointer-events:all;cursor:pointer">
                    If you need SEAMLESSLY INTEGRATED capabilities to meet your needs in 3D, click here to JoinIN.
                  </span>
                </p>
              </div>
            </div>

            <div class="row no-gutters">
              <div class="col-lg-6 order-lg-2 text-white showcase-img landingPagePics" style="background-image: url('http://res.cloudinary.com/joinin/image/upload/v1512429365/Screen_Shot_2017-12-04_at_3.15.40_PM_b60uxa.png');"></div>
              <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Diversity</h2>
                <p class="lead mb-0 descText">
          Diversity clearly correlates with better performance, but is often hard to achieve. Facilitating access to people and resources fosters DIVERSITY and helps innovators and startups succeed.
                  <span class = "actionText landingLogin1234" style="pointer-events:all;cursor:pointer">
                  If you believe Diversity is an imperative, not a nice-to-have, click here to JoinIN.
                  </span>
                </p>
              </div>
            </div>
          </div>
        </section>

        <!-- Testimonials -->
        <!-- <section class="testimonials text-center bg-light" style="display:none;">
          <div class="container">
            <h2 class="mb-5" style="margin-bottom: 50px;">Trusted and affiliated with...</h2>
            <div class="row">
              <div class="col-xs-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0" style="max-width:100%;">
                  <img class="img-fluid rounded-circle mb-3" src="" alt="">
                  <h5>USC</h5>
                  <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0" style="max-width:100%;">
                  <img class="img-fluid rounded-circle mb-3" src="" alt="">
                  <h5>UCLA</h5>
                  <p class="font-weight-light mb-0">"Bootstrap is amazing. I've been using it to create lots of super nice landing pages."</p>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0" style="max-width:100%;">
                  <img class="img-fluid rounded-circle mb-3" src="" alt="">
                  <h5>Pepperdine</h5>
                  <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to us!"</p>
                </div>
              </div>
            </div>
          </div>
        </section> -->

        <!-- Call to Action -->
        <section class="call-to-action text-white text-center" style="display:none;">
          <!-- <div class="overlay"></div> -->
          <div class="container">
            <div class="row">
              <div class="col-xl-9 mx-auto">
                <h2 class="mb-4">Ready to get started? Sign up now!</h2>
              </div>
              <div class="col-xs-6" style="padding:0px">
                <a class="btn btn-default btn-sm landingSignupBtn" id="landingSignup" style="float:right;margin-right:3px"> Login </a>
              </div>


              <div class="col-xs-6" style="padding:0px">
                <a class="landingLogin123 btn btn-sm buttonColor2" id="landingLogin" style="float:left;margin-left:3px"> Sign Up</a>

                <!-- <a style="color:inherit !important;cursor:pointer" data-toggle="modal" data-target="#openVideoModal">
                  <p class="learnMoreVideo">
                    Learn More <i style="cursor:pointer;font-size: 22px;" class="fa fa-play-circle-o" aria-hidden="true" ></i>
                  </p>
                </a> -->
              </div>
            </div>
          </div>
        </section>

                                                                              </div>





                                                                            </body>




</div>
