<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
<script src="./javascripts/datamaps.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script type="text/javascript" src="./javascripts/graph.js"></script>
<style media="screen">
  .states{
    color: hsla(120, 100%, 100%, 0.3)
  }
</style>
</script>
<div id="container" style="position: relative; width: 900px; height: 500px;"></div>
<script>
    // var map = new Datamap({
    //     element: document.getElementById('container'),
    //     scope: 'usa',
    //     fills: {
    //         defaultFill: 'rgba(23,48,210,0.9)' // Any hex, color name or rgb/rgba value
    //     },
    //     data: {
    //       NY: {
    //           fillKey: 'LOW',
    //           numberOfThings: 2002
    //       },
    //       CA: {
    //           fillKey: 'MEDIUM',
    //           numberOfThings: 10381
    //       }
    //     },
    //     geographyConfig: {
    //               popupTemplate: function(geo, data) {
    //                   return ['<div class="hoverinfo"><strong>',
    //                           'Number of things in ' + geo.properties.name,
    //                           ': ' + data.numberOfThings,
    //                           '</strong></div>'].join('');
    //               }
    //           }
    // });

    // map.updateChoropleth({CA: 'green'}, {reset: true})



      // ['<div class="hoverinfo"><strong>',
      //         'Number of things in ' + geo.properties.name,
      //         ': ' + data.electoralVotes,
      //         '</strong></div>'].join('');
</script>
